{% load static %}
<footer class="w-100 main__color">
    <div class="container align-self-center pt-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 pb-5">
            <div class="col mt-3 mb-3">
                <img src="{% static 'img/logo-white.svg' %}" class="w-50" alt="">
            </div>
            <div class="col mt-3 mb-3">
                <h4 class="text-white">Menú</h4>
                <ul class="list-group">
                    <li class="text-white">Inicio</li>
                    <li class="text-white">Alquiler</li>
                    <li class="text-white">Socios</li>
                    <li class="text-white">Blog</li>
                    <li class="text-white">Contacto</li>
                    <li class="text-white">Poner en alquiler</li>
                </ul>
            </div>
            <div class="col mt-3 mb-3">
                <h4 class="text-white">Síguenos</h4>
                    <a href=""><i class="fab fa-facebook text-white pe-2"></i></a>
                    <a href=""><i class="fab fa-instagram text-white"></i></a>
                </ul>
            </div>
            <div class="col mt-3 mb-3">
                <h4 class="text-white">Contacto</h4>
                <ul class="list-group">
                    <li class="text-white">991 682 738</li>
                    <li class="text-white">contacto@supuestito.com</li>
                    <li class="text-white">Lima Peru</li>
                    <li class="text-white">Lunes -Viernes 8:00 – 18:30</li>
                </ul>
            </div>
    </div>
</footer>