{% load static %}
<header>
    {% if user.is_authenticated %}
    {% else %}
    <div class="w-100 secondary__color__background pt-3 pb-3">
        <div class="container d-flex justify-content-end">
            <div class="">
                <a href="{% url 'login' %}" class="text-decoration-none text-white">Entrar</a>
                <span class="text-white">|</span>
                <a href="{% url 'register' %}" class="text-decoration-none text-white">Registrarse</a>
            </div>
        </div>
    </div>
    {% endif %}