
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="layoutAuthentication" class="image__background">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4 main__text__color">Entrar</h3></div>
                            <div class="card-body">
                                <form method="post">
                                    <form class="form-signin" action="POST" method="post" id="login-form">{% csrf_token %}
                                        <input type="text" name="username" id="id_username" class="form-control mb-3" placeholder="Usuario" required autofocus>
                                        <input type="password" name="password" id="id_password" class="form-control mb-3" placeholder="Contraseña" required>
                                        <button class="btn main__btn" type="submit">Entrar</button>
                                      </form>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="{% url 'register' %}" class="main__text__color">Need an account? Sign up!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}