{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Intro Section -->

<div class="w-100 image__background">
  <div class="container">
      <div class="row text-center pt-5 pb-5">
          <h1 class="text-white">Información del socio</h1>
      </div>
  </div>
</div>

  <!-- ABOUT SECTION -->

  <div class="w-100 bg-white pt-5 pb-5">
      <div class="container">
          <h2 class="main__text__color pb-4 text-center">Nombre Apellido</h2>
          <div class="row row-cols-1 row-cols-lg-2 bg-white rounded shadow mb-4">
                <div class="col-sm col-lg-4 p-4">
                    <div class="col mb-5 d-flex flex-column align-items-center justify-content-center">
                        <div class="mb-4 profile__image">
                            <img src="{{partner.profile_image.url}}" alt="" class="w-100">
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item">
                                <i class="fab fa-whatsapp-square pe-2 fs-5 main__text__color"></i><span>{{partner.phone}}</span>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-envelope-square pe-2 fs-5 main__text__color"></i><span>{{partner.email}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm col-lg-8 p-4">
                    <div class="col">
                        <p><b>Nombre:</b> {{partner.name}}</p>
                        <p><b>Apellido:</b> {{partner.last_name}}</p>
                        <p><b>DNI / CE:</b> {{partner.phone}}</p>
                        <p><b>Razón social:</b> {{partner.business_name}}</p>
                        <p><b>Localización de negocio:</b> {{partner.business_address}}</p>
                        <p><b>Tipo de negocios:</b> {{partner.business_type}}</p>
                        <p><b>Tipo de productio y/o servicio:</b> {{partner.business_products}}</p>
                        <p><b>Referencias:</b> {{partner.business_references}}</p>
                        <p><b>Descripción:</b><br />{{partner.business_description}}</p>
                    </div>
                </div>
          </div>
          <h2 class="main__text__color pb-4 text-center">Contactar al socio</h2>
          <div class="row bg-white rounded shadow mb-4 p-5">
                <div class="col-12">
                    <form action="mailto:someone@example.com" method="post" enctype="text/plain">
                        <input type="text" name="Name" id="" class="form-control mb-3" placeholder="Nombre">
                        <input type="text" name="LastName" id="" class="form-control mb-3" placeholder="Apellido">
                        <input type="email" name="Email" id="" class="form-control mb-3" placeholder="Email">
                        <textarea name="Message" id="" style="height:200px;" class="form-control mb-3" placeholder="Mensaje"></textarea>
                        <button class="btn text-white main__color">Contactar</button>
                    </form>
                </div>
          </div>
      </div>
  </div>
{% endblock %}