{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Intro Section -->

<div class="w-100 image__background">
  <div class="container">
      <div class="row text-center pt-5 pb-5">
          <h1 class="text-white">¡Está a punto de publicar su puestito!</h1>
      </div>
  </div>
</div>

  <!-- ABOUT SECTION -->

  <div class="w-100 bg-white pt-5 pb-5">
      <div class="container">
          <h2 class="main__text__color pb-4 text-center">Últimos pasos</h2>
          <div class="row mb-4">
                <div class="col-sm text-center d-flex flex-column justify-content-center align-items-center">
                    <h3 class="pt-5 main__text__color">Paso 1:</h3>
                    <p>Haga el depósito a una de las siguentes cuentas con el monto elegido por usted.</p>
                    <ul class="list-group list-group-flush w-50">
                        <li class="list-group-item"><p class="fs-3"><span class="fw-bold main__text__color">BCP: </span>4557 7777 7777 7777</p></li>
                        <li class="list-group-item"><p class="fs-3"><span class="fw-bold main__text__color">Interbank: </span>4557 7777 7777 7777</p></li>
                        <li class="list-group-item"><p class="fs-3"><span class="fw-bold main__text__color">Continental: </span>4557 7777 7777 7777</p></li>
                    </ul>
                    <h3 class="pt-5 main__text__color">Paso 2:</h3>
                    <p>Envie la foto del voucher o screenshot del depósito para que nosotros podamos activar su publicación.</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p class="fs-3"><span class="fw-bold main__text__color"><i class="fab fa-whatsapp"></i> </span>991 682 738</p></li>
                    </ul>
                </div>
          </div>
      </div>
  </div>
{% endblock %}