
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="layoutAuthentication" class="image__background">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4 main__text__color">Entrar</h3></div>
                            <div class="card-body">
                                <h3>¡Has registrado exitosamente!</h3>
                                <a href="{% url 'index' %}" class="btn btn-light">Empezar a navegar</a>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="{% url 'register' %}" class="main__text__color">¿No tienes cuenta? Regístrate</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}